#ClockContainer {
    position: relative;
    background-image: url("clock.png");
    background-color: aqua;
    height: 80vh;
    width: 80vh;
    background-size: 100%;
    margin: auto;
}

#Hour,
#Minute,
#Second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#Hour {
    height: 29%;
    width: 1%;
    left: 49.5%;
    top: 22%;
}

#Minute {
    height: 33%;
    height: 41%;
    width: 1%;
    left: 49.5%;
    top: 9%;
}

#Second {
    height: 33%;
    height: 41%;
    width: 0.5%;
    left: 49.5%;
    top: 7%;
}